.container-1 {grid-area: navbar;}
.container-2 {
    grid-area: login-box;
    width: 50%;
    margin: auto;
}
.container-3 {grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-areas:
    'navbar'
    'login-box'
    'footer';
    background-color: aqua;
    gap: 10px;
    padding: 10px;
    height: 600px;
}

.grid-container > div {
    background-color: green;
}